#intro > video {
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
    opacity: 0.7;
}
#intro { 
    overflow-y: hidden;
 }
#intro > .content {
    position: relative;
    z-index: 3;
    color: white;
}

.main.dark .button.style2.down {
    background-color: transparent;
    color: white;
}
.main.dark .button.style2 {
	border-color: white;
}

#intro:after {
    /* background: linear-gradient(135deg, #ffffff 0%, #ffffff 74%); */
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    /* opacity: 0.6; */
    /* opacity: 1; */
    position: absolute;
    top: 0;
    /* webkit-linear-gradientidth: 100%; */
    width: 100%;
    z-index: 1;
}

#typed {
    font-size: 1.3em;
    height: 50px;
}

#mapid { height: 360px; }

@media screen and (max-width: 480px){
    .gallery {
        display: none !important;
    } 
}

#header > nav > ul {
    font-weight: bold;
}

.services-list li {
    margin-bottom: 10px;
}